# OpenEngine Distribution file for PostProcessingDemo.

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# PostProcessingDemo project
darcs /projects/PostProcessingDemo http://openengine.dk/code/projects/PostProcessingDemo
darcs-dev /projects/PostProcessingDemo fh.daimi.au.dk:/users/cgd/code/projects/PostProcessingDemo

# standard set of extensions
darcs /extensions/SDL             http://openengine.dk/code/extensions/SDL
darcs /extensions/OpenGLRenderer  http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/OBJResource     http://openengine.dk/code/extensions/OBJResource
darcs /extensions/SDLImage        http://openengine.dk/code/extensions/SDLImage
darcs /extensions/HUD             http://openengine.dk/code/extensions/HUD
darcs /extensions/ActionMappers   http://openengine.dk/code/extensions/ActionMappers
darcs /extensions/Morphing        http://openengine.dk/code/extensions/Morphing

darcs-dev /extensions/SDL             fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/OpenGLRenderer  fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/GenericHandlers fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/OBJResource     fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/SDLImage        fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/HUD             fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/ActionMappers   fh.daimi.au.dk:/users/cgd/code/extensions/ActionMappers
darcs-dev /extensions/Morphing        fh.daimi.au.dk:/users/cgd/code/extensions/Morphing

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# os x libraries

# linux libraries
